/* 404
   ========================================================================== */
.monkey {
  width: 540px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  // not all browsers support svg filters
  @at-root .is-chrome:not(.is-touch) #{&} {
    animation: squigglevision 0.3s infinite;
  }

  svg {
    width: 100%;
    height: auto;
  }

  &__finger {
    transform-origin: center top;
    animation: monkey-finger 1.2s cubic-bezier(0.4, 0, 0.2, 1) both infinite;
  }

  &__eye {
    &-right {
      transform-origin: center 145px;
      animation: monkey-eyes 2s infinite none;
    }

    &-left {
      transform-origin: center 150px;
      animation: monkey-eyes 2s 0.05s infinite none;
    }
  }
}

@keyframes monkey-finger {
  0% {
    transform: skewX(-10deg);
  }
  50% {
    transform: skewX(10deg) translateX(-5px);
  }
  100% {
    transform: skewX(-10deg);
  }
}

@keyframes monkey-eyes {
  0%,
  45% {
    transform: none;
  }
  50% {
    transform: scaleY(0.2);
  }
  55%,
  100% {
    transform: none;
  }
}

@keyframes squigglevision {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
