.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.align-items-end {
  align-items: flex-end;
}

.margin-top {
  margin-top: 24px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom {
  margin-bottom: 24px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-top {
  padding-top: 24px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-bottom {
  padding-bottom: 24px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

@media (min-width: $break-point--sm) {
  .flex-sm-wrap {
    display: flex;
  }

  .flex-sm-1 {
    flex: 1;
  }
}

@media (min-width: $break-point--md) {
  .flex-md-wrap {
    display: flex;
  }

  .flex-md-1 {
    flex: 1;
  }
}

@media (min-width: $break-point--lg) {
  .flex-lg-wrap {
    display: flex;
  }

  .flex-lg-1 {
    flex: 1;
  }
}
