/* Main
   ========================================================================== */

@charset "UTF-8";

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}
