/* Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  line-height: 1;
  text-align: center;
  // white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  font-weight: 700;
  padding: 18px 32px;
  border-radius: 0;
  box-shadow: 0 11px 22px rgba($color--body, 0.2);
  transition: all 0.2s ease-in-out;
  will-change: box-shadow;

  &:not(a) {
    cursor: default;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    color: $color--body;
    background-color: $color--tertiary;
  }
  &.no-shadow {
    box-shadow: none;
  }
  &:hover {
    box-shadow: 0 6px 14px rgba($color--body, 0.25);
  }

  &:active {
    box-shadow: 0 2px 6px rgba($color--body, 0.5);
  }

  &--primary {
    // box-shadow: 0 11px 22px rgba($color--primary, .2);

    &,
    &:hover,
    &:focus,
    &:active {
      color: $color--body-lighten;
      background-color: $color--primary;
    }

    &:hover {
      // box-shadow: 0 6px 14px rgba($color--primary, .25);
    }

    &:active {
      // box-shadow: 0 2px 6px rgba($color--primary, .5);
    }
  }

  &--secondary {
    // box-shadow: 0 11px 22px rgba($color--secondary, .2);

    &,
    &:hover,
    &:focus,
    &:active {
      color: $color--body-lighten;
      background-color: $color--secondary;
    }

    &:hover {
      // box-shadow: 0 6px 14px rgba($color--secondary, .25);
    }

    &:active {
      // box-shadow: 0 2px 6px rgba($color--secondary, .5);
    }
  }

  &--large {
    font-size: 16px;
    line-height: 18px;
    padding: 27px 48px;
  }

  &--round {
    border-radius: 48px;
  }

  &--circle {
    position: relative;
    border-radius: 48px;
    padding: 18px;
    width: 48px;
    height: 48px;
    overflow: hidden;

    & .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);

      // fix for play icon
      &.fa-play {
        transform: translate3d(-35%, -50%, 0);
      }
    }
  }

  &--large.btn--circle {
    padding: 27px;
    width: 72px;
    height: 72px;

    .fa {
      font-size: 18px;
    }
  }
  &--1em {
    @media (min-width: $break-point--sm) {
      font-size: 1em;
    }
  }
}
