/* Carousel
   ========================================================================== */

.carousel {
  $namespace: &;
  position: relative;
  overflow: hidden;

  &-inner {
    transition: height 0.5s ease;
    cursor: default !important;
  }

  &__image {
    figure:before {
      // overrite .poster
      padding-top: percentage(480 / 700);
    }
  }

  &__copy {
    opacity: 0;
    will-change: opacity, transform;

    @at-root #{$namespace}--penny #{&} {
      h2 {
        @media (max-width: $break-point--md) {
          font-size: 16px;
          line-height: 20px;
          margin-top: 0;
        }

        .highlight {
          display: inline;
          background: white;
          padding: 0;

          box-decoration-break: clone;
          box-shadow: 12px 0 0 white, -12px 0 0 white;
        }

        @media (min-width: $break-point--md) {
          max-width: 500px;
          .highlight {
            line-height: 48px;
          }
        }
      }

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 24px;

      .dashed {
        background-color: white;
        padding-right: 12px;
      }
    }
  }

  .slick-slide.slick-active &__copy {
    opacity: 1;
    animation: carousel-copy 0.75s 0.5s forwards;
  }

  //stadolf: lets override the bootstrap indicators
  .carousel-indicators {
    margin: 0;
    left: auto;
    right: 10px;
    bottom: 10px;
    li {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      will-change: background-color;
      transition: background-color 0.55s;
      background-color: lighten($color--body, 75%);
      &.active {
        background-color: $color--body;
      }
    }
  }

  blockquote {
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.005em;
    margin-bottom: 42px;

    p {
      border-left: none;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

@keyframes carousel-copy {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
