/* CTA
   ========================================================================== */

.cta {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $color--tertiary;
    z-index: -1;
  }

  &--left {
  }

  &--right {
  }

  &--darken {
    color: $color--body-lighten;

    &:before {
      background-color: $color--body;
    }

    .sub-head,
    a.sub-head {
      color: inherit !important;
    }

    .dashed:before,
    .dashed:after {
      background-color: $color--body-lighten;
    }

    .dashed.dashed--hover:not(.dashed--vertical):hover:after,
    a.dashed:not(.dashed--vertical):hover:after {
      background-color: rgba($color--body-lighten, 0.3);
    }
  }

  &--primary {
    &:before {
      background-color: $color--primary;
    }
  }

  &--secondary {
    &:before {
      background-color: $color--secondary;
    }
  }
  &--tertiary {
    a {
      color: $color--link-hover;
    }
  }
  &--grey {
    &:before {
      background-color: $color--body-alt;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }

  &__background.lazyload--el.lazyloaded {
    opacity: 0.175;
  }

  &--left &__background {
  }

  &--right &__background {
  }

  &__copy {
  }
}
