/* Customizer
   ========================================================================== */

::placeholder {
  color: rgba($color--body, 0.5);
}

.color--body {
  color: $color--body;
}

.background-color--body {
  background-color: $color--body;
}

.color--body-alt {
  color: $color--body-alt;
}

.background-color--body-alt {
  background-color: $color--body-alt;
}

.color--body-lighten {
  color: $color--body-lighten;
}

.background-color--body-lighten {
  background-color: $color--body-lighten;
}

.color--primary {
  color: $color--primary;
}

.background-color--primary {
  background-color: $color--primary;
}

.color--secondary {
  color: $color--secondary;
}

.background-color--secondary {
  background-color: $color--secondary;
}

.color--tertiary {
  color: $color--tertiary;
}

.background-color--tertiary {
  background-color: $color--tertiary;
}

.color--link {
  color: $color--link;
}

.background-color--link {
  background-color: $color--link;
}

.color--link-hover {
  color: $color--link-hover;
}

.background-color--link-hover {
  background-color: $color--link-hover;
}

.color--code {
  color: $color--code;
}

.background-color--code {
  background-color: $color--code;
}

.color--code-background {
  color: $color--code-background;
}

.background-color--code-background {
  background-color: $color--code-background;
}
