.go-up {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  user-select: none;
  z-index: 9;

  &__btn {
    position: absolute;
    display: block;
    bottom: 0;
    right: 15px;
    height: 54px;
    width: 36px;
    transform: translateY(54px);
    transition: transform .5s;
    will-change: transform;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
    }
  }

  &.headroom--unpinned &__btn {
    transform: none;
    pointer-events: auto;
  }
}
