/* Page
   ========================================================================== */

.page-header {
  margin-bottom: 168px;

  .page & {
    margin-bottom: 72px;
  }

  .single.single-portfolio & {
    margin-bottom: 0;

    @media screen and (min-width: $break-point--lg) {
      margin-bottom: 168px;
    }
  }
}

.page-subtitle {
  margin-top: 0;
}

.single .page-header h1 {
  margin-top: 12px;
}

.single-content {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  &__footer {
    margin-top: 68px;

    span {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 12px;
    }

    a {
      display: inline-block;
      margin-left: 12px;
      margin-bottom: 12px;
      vertical-align: middle;
    }

    a:not(:hover) {
      color: inherit;
    }
  }

  &__tags {
    margin-bottom: 12px;
    border-bottom: solid 1px $color--tertiary;

    a {
      padding: 0 12px;
      font-size: 11px;
      text-transform: uppercase;
      border-radius: 2px;
      background-color: $color--tertiary;
    }
  }

  &__share {
  }
}

.full-width-wrap {
  @media screen and (min-width: $break-point--lg) {
    margin-right: -165px;
    margin-left: -165px;
  }

  @media screen and (min-width: $break-point--xl) {
    margin-right: -160px;
    margin-left: -160px;
  }
}
