/* Paper
   ========================================================================== */

.paper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  transform: translateX(-50%);
  overflow: hidden;
  // pointer-events: none;
  transition: opacity 0.5s;
  will-change: opacity;

  &.resizing {
    transition: none;
    opacity: 0;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    transition-delay: 1s;
    // background-color: rgba(#f0f, 0.05);
  }

  &--150 {
    height: 150%;
  }

  &--200 {
    height: 200%;
  }

  &--100vh {
    height: 600px;
    height: 100vh;
  }

  &--1100 {
    height: 1100px;
  }

  &--fixed {
    position: fixed;
    z-index: -1;
  }

  &--stars {
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 20%;
      background: linear-gradient(to top, $color--body-background 10%, transparent 100%);
    }
  }
}
