/* Related
   ========================================================================== */

.related {

  &__item {
    margin-bottom: 30px;
  }

  &__box {
    position: relative;
    text-align: center;
    background-color: $color--tertiary;
    box-shadow: 0px 3px 24px 0px rgba($color--body, .25);
    backface-visibility: hidden;
    overflow: hidden;

    &__background {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background-size: cover;
      background-position: center;
      backface-visibility: hidden;
      pointer-events: none;
      z-index: 0;
    }

    &__table {
      position: relative;
      display: table;
      width: 100%;
      height: inherit;
      min-height: 200px;
      padding: 10.47%;
      z-index: 1;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        opacity: 0;
        background-color: $color--body;
        transition: opacity .25s;
        backface-visibility: hidden;

        will-change: opacity;
      }
    }

    &__cell {
      display: table-cell;
      vertical-align: middle;
      color: $color--body-lighten;

      opacity: 0;
      transition: opacity .5s;
      backface-visibility: hidden;

      will-change: opacity;
    }

    &:hover &__table {
      &:before {
        opacity: .25;
      }
    }

    &:hover &__cell {
      opacity: 1;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    &__link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
    }
  }
}
