/* Services
   ========================================================================== */

// Service image
.service-image {
  $namespace: &;
  &__thumb {
    position: relative;
    margin-bottom: 24px;

    figure {
      height: auto;
      padding-top: percentage(1280/1920);
      background-size: cover;
      background-position: center;
    }

    @media (min-width: $break-point--lg) {
      min-height: 360px;
      margin-bottom: 0;

      figure {
        position: absolute;
        right: 15px;
        top: 0;
        left: 15px;
        width: auto;
        height: 100%;
        padding-top: 0;
      }
    }
  }

  @media (min-width: $break-point--lg) {
    &--reverse {
      #{$namespace}__thumb {
        order: 2;
      }
      #{$namespace}__copy {
        order: 1;
      }
    }

    &--wide {
      #{$namespace}__thumb {
        figure {
          right: 15px;
          left: auto;
          width: 2000px;
          width: calc(50vw - 15px);
        }
      }
    }

    &--wide#{$namespace}--reverse {
      #{$namespace}__thumb {
        figure {
          right: auto;
          left: 15px;
        }
      }
    }
  }
}

.service-icon {
  position: relative;

  @media (min-width: $break-point--lg) {
    padding-bottom: 72px;
    &__background {
      position: absolute;
      top: 24px;
      left: 96px;
      width: 2000px;
      width: calc(100vw - 15px);
      bottom: 0;
      background-color: $color--tertiary;
    }
  }

  &__copy {
    position: relative;
  }

  &__item {
    margin-bottom: 30px;
    padding: 36px 24px;
    background-color: $color--body;
    color: $color--body-lighten;

    * {
      margin: 0;
    }
    &.red {
      background-color: $color--secondary;
      //color: $color--body;
    }
  }
}
