.slick-slider {
  .slick-arrow {
    display: none !important;
  }
  .slick-list {
    max-height: 75vh;
    overflow: hidden;
  }

  .slick-slide {
    position: relative;
    margin-top: -15vh;
    .carousel__copy {
      opacity: 0;
      will-change: opacity, transform;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 15vh;
      h2 {
        @media (max-width: $break-point--md) {
          font-size: 16px;
          line-height: 20px;
          margin-top: 0;
        }

        .highlight {
          display: inline;
          background: white;
          padding: 0;
          box-decoration-break: clone;
          box-shadow: 12px 0 0 white, -12px 0 0 white;
        }

        @media (min-width: $break-point--md) {
          max-width: 500px;
          .highlight {
            line-height: 48px;
          }
        }
        .dashed {
          background-color: white;
          padding-right: 12px;
        }
      }
    }
    &.slick-active .carousel__copy {
      //opacity: 1;
      animation: carousel-copy 0.75s 0.5s forwards;
    }
  }
  .slick-dots {
    li {
      width: 10px;
    }
  }
  blockquote {
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.005em;
    margin-bottom: 42px;

    p {
      border-left: none;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

@keyframes carousel-copy {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
