/* Tabs
   ========================================================================== */

.tabs {
  overflow: hidden;

  &__navs {
    display: flex;
    margin-bottom: -1px;
    overflow: hidden;
  }

  &__nav {
    display: block;
    position: relative;
    padding-top: 36px;
    padding-bottom: 12px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-family--display;
    letter-spacing: 0.05em;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 36px;
    }

    &,
    &:hover,
    &:focus {
      color: inherit;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom: solid 3px $color--primary;
      pointer-events: none;

      transform-origin: right center;
      transform: scaleX(0);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

      will-change: transform;

      .reveal--primary & {
        border-bottom-color: inherit;
      }
    }

    &:hover:after,
    &--active:after {
      transform-origin: left center;
      transform: scale(1);
    }
  }

  &__content {
    &:before {
      content: "";
      display: block;
      margin-bottom: 14px;
      border-top: solid 1px;
      opacity: 0.1;
    }
  }

  &__item {
    position: relative;
    display: none;

    &--active {
      display: block;
    }
  }
}
