.invisible {
  visibility: hidden }

.hidden-xs-up {
  display: none }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none } }

@media (min-width: $break-point--sm) {
  .hidden-sm-up {
    display: none } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none } }

@media (min-width: $break-point--md) {
  .hidden-md-up {
    display: none } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none } }

@media (min-width: $break-point--lg) {
  .hidden-lg-up {
    display: none } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none } }

@media (min-width: $break-point--xl) {
  .hidden-xl-up {
    display: none } }

.hidden-xl-down {
  display: none }

.visible-print-block {
  display: none }
  @media print {
    .visible-print-block {
      display: block } }

.visible-print-inline {
  display: none }
  @media print {
    .visible-print-inline {
      display: inline } }

.visible-print-inline-block {
  display: none }
  @media print {
    .visible-print-inline-block {
      display: inline-block } }

@media print {
  .hidden-print {
    display: none } }
