
.navbar {
    background-color: rgba(0,0,255,0.0);
    min-height: 4rem;
    transition: background-color 200ms linear;
}

.logo {
    position: absolute;
    top: 5px;
    height:5vw;
    margin-top:0.5rem;
    margin-left: 0vw;
    max-width: 30vw;

    transition: all 200ms linear;
}

.ven {
font-weight: 200;
}

.logo:hover {
margin-left: 0vw;
height:6vw;
/*-moz-transform: rotate(4deg);
-ms-transform: rotate(4deg);
-o-transform: rotate(4deg);
-webkit-transform: rotate(4deg);*/
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

#register {
border-top: 1px solid #00087A;
}

#partner {
border-top: 1px solid #00087A;
}

#speakers {
border-top: 1px solid #00087A;
}

#schedule {
background: #00087A;
padding-top:80px;
padding-bottom:80px;
}

.dule {
    background-color: rgba(0,255,0,0.3);
    border: 1px none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 1px;
}

.craftsman {
font-weight: 300;
color: #00CCFF;
}
/* card */

.card {
	padding: 1rem;
    margin-bottom: 10px;
}

}
.card .card-block h6{
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0!important;
}

.time {
opacity: 0.6;
-moz-opacity: 0.6;
}

.seeooo {
font-weight: 700 !important;
font-size: 32px;
}



/* other */

.faro {
	max-width: 25vw;
	margin-top: 6vh;
}
.fara {
	margin-top:20vh;
}

.faru {
	margin: 0!important;
}

.illu {
background-image: url ("../img/devday18_keyvisual-01.svg");
opacity: 0.2;
position: absolute;
top: -30vh;
margin-top: 4vh;
}

.scrolled .logo {
    height: 3.5rem;
    top: 5px;
}

.white {
color:#FFF;
}

.whitelink {
color:#ff555b;
}

.scrolled .logo, .scrolled .navbar, .navbar.open {
    background-color: rgba(0,0,255,1.0);
}

.navbar-brand {
    min-height: 2rem;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    outline: none;
}

.hero {
    min-height: 500px;
    padding: 100px 0;
}

.ftrdvd {
    height: 50px;
    opacity: 0.5;}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.conf {
background-image: url("../img/product3.jpg");
background-repeat: no-repeat;
background-size:cover;
}

.mittig {
text-align: center;
}


.sched {
color: #fff;
font-weight: 100;
}

.btn-secondary {
    color: rgba(0,0,255,1.0);
	background-color: rgba(0,0,0,0.0);
    border-color: rgba(0,0,0,0.0);
}


.btn-secondary:hover, .btn-secondary:focus {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    border-width: 0px;
}

.food {
font-size: 14px;
color: #999999;
}

.nofood {
font-size: 14px;
color: #fff;
}

/** MODAL ZEUG **/


.modal-dialog {
    max-width: 50vw;
    margin: 30px auto;
}


.modal-header {
	display: table-cell;
	text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    border-bottom: 0px solid #eceeef;
}

.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px;
    border-top: 0px solid #eceeef;
}

.modal-body {
text-align: left;
}
.close {
	display: inline-block;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
/** MODAL ENDE **/







@media (min-width: 768px) {

    .navbar {
        min-height: 6rem;
    }
    .logo {
        margin: 0.5rem;
    }
    .scrolled .logo {
        height: 3.8rem;
        top: 10px;
    }
    .hero {
        padding: 20px 0;
    }
}

@media (max-width: 767px) {

.scrolled .logo {
    height: 1.8rem;
    top: 5px;
    }
.faro {
	width: 50vw;
	margin:0;
	}
.fara {
	margin: 0;}
.modal-dialog {
    max-width: 80vw;
    margin: 30px auto;
}

}