@import "../modules/all";
@import "../modules/colors";

// $color--body: #222;
// $color--body-alt: #8d929c;

$color--primary: #f71735; // high contrast with lighter colors
$color--secondary: #f71735; // high contrast with lighter colors
// $color--tertiary: #f0f2ef; // lighter color, high contrast with darker colors

$color--link: #f71735;
$color--link-hover: #f71735;

/* Main
   ========================================================================== */

body {
  background-color: $color--body-background;
}

/* Layouts
   ========================================================================== */

// dash effects
.dashed {
  &:before,
  &:after {
    background-color: $color--body;
  }

  @at-root {
    &--hover,
    a#{&} {
      cursor: default;

      &:not(.dashed--vertical):hover:after {
        background-color: rgba($color--body, 0.1);
      }
    }
  }
}

// board
.board {
  &__copy {
    &--links {
      a {
        & {
          color: $color--body;
        }

        &:hover {
          color: rgba($color--body, 0.65);
        }
      }
    }
  }
}

// poster
.poster {
  &--cover {
    &:after {
      background-color: $color--tertiary;
    }
  }
}

// reveal
.reveal {
  &:before {
    background-color: $color--tertiary;
  }

  &--darken {
    color: $color--body-lighten;

    &:before {
      background-color: $color--body;
    }

    .sub-head,
    a.sub-head {
      color: inherit !important;
    }

    .dashed:before,
    .dashed:after {
      background-color: $color--body-lighten;
    }

    .dashed.dashed--hover:not(.dashed--vertical):hover:after,
    a.dashed:not(.dashed--vertical):hover:after {
      background-color: rgba($color--body-lighten, 0.3);
    }
  }

  &--primary {
    &:before {
      background-color: $color--primary;
    }
  }

  &--secondary {
    &:before {
      background-color: $color--secondary;
    }
  }
}

// clipcard
.clipcard {
  &:last-child &__body:after {
    border-color: transparent;
  }

  &__link {
    &:after {
      background-color: $color--body;
    }
  }

  &__subtitle {
    span {
      color: inherit;
    }
  }
}

/* Page
   ========================================================================== */

.single-content {
  &__footer {
    a:not(:hover) {
      color: inherit;
    }
  }

  &__tags {
    border-bottom: solid 1px $color--tertiary;

    a {
      background-color: $color--tertiary;
    }
  }
}

/* Masonry
   ========================================================================== */

.indexed-list {
  &__wrap {
    background-color: $color--body-lighten;
    box-shadow: 0px 3px 24px 0px rgba($color--body, 0.25);

    &__copy {
      background-color: $color--body-lighten;
    }

    .sub-head-2 {
      * {
        color: inherit;
      }
    }

    &__title {
      a:not(:hover) {
        color: inherit;
      }
    }

    &__desc {
      color: $color--body-alt;
    }

    &__link {
      a {
        &:not(:hover) {
          color: inherit;
        }
      }
    }
  }

  &__box {
    background-color: $color--tertiary;
    box-shadow: 0px 3px 24px 0px rgba($color--body, 0.25);

    &__cell {
      color: $color--body-lighten;
    }

    &__badge {
      color: $color--body;
      background-color: $color--tertiary;
    }

    .sub-head-2 {
      color: inherit;
      * {
        color: inherit;
      }
    }

    &__title {
      a:not(:hover) {
        color: inherit;
      }
    }
  }
}

/* Related
   ========================================================================== */

.related {
  &__box {
    background-color: $color--tertiary;
    box-shadow: 0px 3px 24px 0px rgba($color--body, 0.25);

    &__table {
      &:before {
        background-color: $color--body;
      }
    }

    &__cell {
      color: $color--body-lighten;
    }
  }
}

/* CTA
   ========================================================================== */

.cta {
  &:before {
    background-color: $color--tertiary;
  }

  &--darken {
    color: $color--body-lighten;

    &:before {
      background-color: $color--body;
    }

    .dashed:before,
    .dashed:after {
      background-color: $color--body-lighten;
    }

    .dashed.dashed--hover:not(.dashed--vertical):hover:after,
    a.dashed:not(.dashed--vertical):hover:after {
      background-color: rgba($color--body-lighten, 0.3);
    }
  }

  &--primary {
    &:before {
      background-color: $color--primary;
    }
  }

  &--secondary {
    &:before {
      background-color: $color--secondary;
    }
  }
}

/* Carousel
   ========================================================================== */

.carousel {
  &__dots {
    color: $color--body;
    &--light {
      color: $color--body-lighten;
    }
  }
}

/* Paper
   ========================================================================== */

.paper {
  &--stars {
    &:after {
      background: linear-gradient(to top, $color--body-background 10%, transparent 100%);
    }
  }
}

/* Mediabox
   ========================================================================== */

.mediabox {
  &-wrap {
    background-color: rgba($color--body, 0.8);
  }
}

/* Tabs
   ========================================================================== */

.tabs {
  &__nav {
    &,
    &:hover,
    &:focus {
      color: inherit;
    }

    &:after {
      border-bottom: solid 3px $color--primary;
      .reveal--primary & {
        border-bottom-color: inherit;
      }
    }
  }
}

/* Header
   ========================================================================== */

// Top header
.site-header {
  &__wrap {
    @at-root .has-header-background #{&} {
      background-color: rgba($color--body-background, 0.98);
    }

    .headroom--not-top:not(.headroom--unpinned) & {
      background-color: rgba($color--body-background, 0.98);
      box-shadow: 0 3px 16px rgba($color--body, 0.24);
    }
  }

  &__mobile {
    button {
      color: $color--code;
      background-color: transparent;
    }
  }

  &__nav {
    ul.menu {
      & > li {
        &.menu-item-has-children {
          &:after {
            border: 2px solid $color--secondary;
          }
        }

        & > a {
          color: inherit;
        }

        &:not(.menu-item-has-children) {
          & > a {
            &:after {
              background-color: $color--body;
            }
          }
        }
      }

      ul {
        background-color: $color--body-background;
        box-shadow: 0 6px 22px rgba($color--body, 0.3);

        a {
          &:before {
            border: 2px solid $color--primary;
          }
        }
      }
    }
  }
}

/* Side navigation
   ========================================================================== */

.site-sidenav {
  &__overlay {
    background-color: rgba($color--body, 0.4);
  }

  &__elements {
    background-color: $color--body-lighten;
    box-shadow: 8px 0 24px rgba($color--body, 0.24);
  }

  &__branding {
    border-bottom: solid 1px $color--tertiary;
  }

  &__nav {
    a {
      &,
      &:hover {
        color: inherit;
      }
    }

    ul.sub-menu {
      a {
        color: $color--body-alt;
      }
    }
  }

  &__cat {
    border-top: solid 1px $color--tertiary;
  }
}

/* Footer
   ========================================================================== */

.site-footer {
  .widget-area {
    background-color: $color--tertiary;

    a:not(:hover) {
      color: inherit;
    }
  }
}

.site-info {
  background-color: $color--body-background;
}

/* Typography
   ========================================================================== */

body,
button,
input,
select,
textarea {
  color: $color--body;
}

a {
  color: $color--link;
}

a:hover,
a:focus {
  color: $color--link-hover;
}

.btn,
.sub-head {
  a {
    color: inherit;
  }
}

.sub-head,
a.sub-head {
  color: $color--body;
}

.text-body-3 {
  color: $color--body-alt;
}

.sub-head-2 {
  color: $color--body-alt;

  a:not(:hover) {
    color: inherit;
  }
}

blockquote {
  color: $color--body;
}

blockquote p {
  border-left: solid 0.25em $color--primary;
}

pre {
  color: $color--body;
  background-color: $color--tertiary;
}

code,
kbd,
tt,
var {
  color: $color--code;
  background-color: $color--code-background;
}

mark {
  color: $color--body-lighten;
  background: $color--primary;
}

ins {
  color: $color--body-lighten;
  background: $color--secondary;
}

/* Forms
   ========================================================================== */

label {
  color: $color--body;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color--body-alt;
  background-color: darken($color--tertiary, 3%);
}

.reveal input[type="email"] {
  background-color: lighten($color--tertiary, 3%);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: $color--body;
}

select {
  color: $color--body;
  background-color: darken($color--tertiary, 3%);
}

// Overwright Mailchimp forms
div.mce_inline_error {
  color: inherit !important;
  background-color: transparent !important;
}

/* Buttons
   ========================================================================== */

.btn {
  box-shadow: 0 11px 22px rgba($color--body, 0.2);
  &,
  &:hover,
  &:focus,
  &:active {
    color: $color--body;
    background-color: $color--tertiary;
  }

  &:hover {
    box-shadow: 0 6px 14px rgba($color--body, 0.25);
  }

  &:active {
    box-shadow: 0 2px 6px rgba($color--body, 0.5);
  }

  &--primary {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $color--body-lighten;
      background-color: $color--primary;
    }
  }

  &--secondary {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $color--body-lighten;
      background-color: $color--secondary;
    }
  }
}

/* Pricing
   ========================================================================== */
.pricing {
  &__item {
    border: solid 1px $color--tertiary;
  }
}

/* Alert
   ========================================================================== */
.alert {
  background-color: $color--body;
  color: $color--body-background;

  &--primary {
    background-color: $color--primary;
  }

  &--secondary {
    background-color: $color--tertiary;
    color: $color--body;
  }
}

/* Progress Bsr
   ========================================================================== */
.progress {
  &__wrap {
    background-color: $color--tertiary;
  }

  &__bar {
    background-color: $color--body;
  }
}

/* Accoirdion
   ========================================================================== */
.accordion {
  &__header {
    label {
      svg {
        fill: $color--body;
      }
    }
  }
}

/* Icon List
   ========================================================================== */
.fa-li {
  color: $color--primary;
}

/* Customizer
   ========================================================================== */
::placeholder {
  color: rgba($color--body, 0.5);
}

.color--body {
  color: $color--body;
}

.background-color--body {
  background-color: $color--body;
}

.color--body-alt {
  color: $color--body-alt;
}

.background-color--body-alt {
  background-color: $color--body-alt;
}

.color--body-lighten {
  color: $color--body-lighten;
}

.background-color--body-lighten {
  background-color: $color--body-lighten;
}

.color--primary {
  color: $color--primary;
}

.background-color--primary {
  background-color: $color--primary;
}

.color--secondary {
  color: $color--secondary;
}

.background-color--secondary {
  background-color: $color--secondary;
}

.color--tertiary {
  color: $color--tertiary;
}

.background-color--tertiary {
  background-color: $color--tertiary;
}

.color--link {
  color: $color--link;
}

.background-color--link {
  background-color: $color--link;
}

.color--link-hover {
  color: $color--link-hover;
}

.background-color--link-hover {
  background-color: $color--link-hover;
}

.color--code {
  color: $color--code;
}

.background-color--code {
  background-color: $color--code;
}

.color--code-background {
  color: $color--code-background;
}

.background-color--code-background {
  background-color: $color--code-background;
}

/* Responsive embed
   ========================================================================== */

// Credit: Nicolas Gallagher and SUIT CSS.
.embed-responsive {
  &__cover {
    &:after {
      background-color: $color--tertiary;
    }
  }
}
