// Global

// font-families
$font-family--display: 'Manrope', sans-serif;
$font-family--body: 'Manrope', sans-serif;

// break points
$break-point--sm: 576px;
$break-point--md: 768px;
$break-point--lg: 992px;
$break-point--xl: 1200px;
