// Colors

//
$color--body: #3c3c3b !default;
$color--body-alt: #8d929c !default;
$color--body-lighten: #fff !default;
$color--body-background: #fff !default;

$color--primary: #ff3100 !default; // high contrast with lighter colors
$color--secondary: #63e9eb !default; // high contrast with lighter colors
$color--tertiary: #eff0f1 !default; // lighter color, high contrast with darker colors

$color--link: $color--primary !default; // #011eff !default;
$color--link-hover: $color--secondary !default; // #ff00bf !default;

$color--code: #abb2bf !default;
$color--code-background: #434851 !default;
