body.site-2020 {
  margin: 0;
  background-color: $color--body-background;
  overflow-x: hidden;
  color: $color--body;
  font-family: $font-family--body;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .bg-visual {
    position: absolute;
    max-width: initial;
  
    img {
      width: 100vw;
    }
  
    @media (min-width: $break-point--md) {
      img {
        
        margin-left: -20vw;
        min-width: 80vw;
      }
      
      margin-top: -20%;
    }
  }
}


