/* Footer
   ========================================================================== */

.site-footer {
  .widget-area {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: $color--tertiary;

    a:not(:hover) {
      color: inherit;
    }
  }
}

.site-info {
  padding-top: 24px;
  //padding-bottom: 24px;
  background-color: $color--body;
  .sub-head {
    color: darken($color--body-alt, 25%);
  }
}
