/* Header
   ========================================================================== */

   .site-header .site-branding {
    svg,
    img {
      margin: 0 auto;
      @media (max-width: $break-point--lg) {
        float: right;
      }
    }
   }
   
// Site logo / also applies for the footer "widgets" :(
.site-branding {
  position: relative;

  a {
    display: block;
    float: left;
  }

  svg,
  img {
    display: block;
    height: 72px;
    
    pointer-events: none;
    @media (max-width: $break-point--lg) {
      
      height: 60px;  
    }
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.headroom--scrolled .site-header .site-header__wrap {
  // add shadow to the top header when its overlay on content
  background-color: rgba($color--body, 0.98);
  box-shadow: 0 3px 16px rgba($color--body, 0.24);
  ul.menu > li > a {
    color: $color--body-background;
  }
  @at-root .has-header-background #{&} {
    background-color: rgba($color--body-background, 0.98);
  }
}

// hide the top header on scroll down
.headroom--unpinned .site-header {
  transform: translateY(-100%);
}
// Top header
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  z-index: 98;

  &__wrap {
    @media (min-width: $break-point--lg) {
      padding-top: 24px;
      padding-bottom: 24px;
      
    }

    
    transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
    background-color: $color--body;
    color: $color--body-background;
    will-change: box-shadow;

  }

  &__elements {
    display: flex;
  }

  &__mobile {
    padding-right: 24px;

    button {
      position: relative;
      color: $color--code;
      padding: 0;
      margin: 0;
      font-size: 23px;
      line-height: 72px;
      border: 0;
      background-color: transparent;

      i {
        pointer-events: none;
      }
    }
  }

  &__branding {
    //padding-right: 68px;
    flex: 2;
    align-self: center;
    .site-branding {
      a {
        float: none;

        @media (min-width: $break-point--md) {
          float: left;
        }
      }
    }

    @media (min-width: $break-point--md) {
      padding-right: 24px;
    }
  }

  &__nav {
    flex-grow: 3;
    flex-shrink: 2;
    text-align: right;

    ul.menu {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      white-space: nowrap;

      & > li {
        display: inline-block;
        margin-left: 44px;
        position: relative;

        &.menu-item-has-children {
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: -10px;
            top: 50%;
            margin-top: -2px;
            border: 2px solid $color--secondary;
            border-radius: 2px;
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
              0.6s opacity;
            will-change: opacity, transform;
          }

          &:hover:after {
            transform: translateX(-6px);
            opacity: 0;
          }
        }

        & > a {
          //color: white;
          color: inherit;
          display: block;
          padding-top: 28px;
          padding-bottom: 28px;
          line-height: 1;
          font-weight: 700;
          z-index: 1;
          &:hover {
            text-decoration: none;
          }
          &.active {
            color: $color--secondary;
          }
        }

        &:not(.menu-item-has-children) {
          & > a {
            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: 12px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $color--body;
              pointer-events: none;

              transform-origin: right center;
              transform: scaleX(0);
              transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

              will-change: transform;
            }

            &:hover:after {
              transform-origin: left center;
              transform: scale(1);
            }
          }
        }
      }

      ul {
        display: block;
        position: absolute;
        margin: 0;
        padding: 12px 0;
        top: 100%;
        left: -24px;
        min-width: 240px;
        list-style: none;
        white-space: nowrap;
        background-color: $color--body-background;
        box-shadow: 0 6px 22px rgba($color--body, 0.3);
        border-radius: 2px;
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
          0.6s opacity;
        transform: translateY(-6px);
        opacity: 0;
        pointer-events: none;

        will-change: opacity, transform;

        li {
          position: relative;
          text-align: left;

          &.menu-item-has-children {
            > a {
              
              &:after {
                content: '\f142';
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 14px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $color--body-alt;
              }
            }
          }
        }

        a {
          position: relative;
          color: inherit;
          display: block;
          padding: 6px 60px 6px 24px;
          font-size: 14px;
          font-weight: 700;
          z-index: 1;
          color: $color--body;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 24px;
            top: 16px;
            border: 2px solid $color--primary;
            border-radius: 2px;
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
              0.6s opacity;
            transform: translateX(-12px);
            opacity: 0;
            will-change: opacity, transform;
          }

          svg {
            display: inline-block;
            width: auto;
            height: 24px;
            margin-bottom: -1px;
            vertical-align: middle;
            pointer-events: none;
          }

          span {
            display: block;
            transition: transform 0.6s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
            will-change: transform;
          }

          &:hover {
            &:before {
              transform: translateX(0);
              transition-delay: 0.1s;
              opacity: 1;
            }

            span {
              transform: translateX(12px);
            }
          }
        }

        ul {
          top: -12px;
          left: 100%;
        }
      }

      li:hover {
        > ul {

            transform: none;
            opacity: 1;
            pointer-events: auto;

        }
      }
    }
  }

  &__cta {
    padding: 12px 0 12px 48px;
  }
}
