/* Masonry
   ========================================================================== */

.indexed-list {

  &__item {
    margin-bottom: 30px;
  }

  &__in-view {
    @media( min-width: $break-point--md ){

      opacity: 0;
      transform: translateY(100px);
      transition: opacity .6s, transform .6s;

      will-change: opacity, transform;

      &--in {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__wrap {
    position: relative;
    background-color: $color--body-lighten;
    box-shadow: 0px 3px 24px 0px rgba($color--body, .25);
    backface-visibility: hidden;
    overflow: hidden;

    &__thumb {
      backface-visibility: hidden;
      overflow: hidden;

      a {
        display: block;
        width: 100%;
      }

      figure {
        display: block;
        width: 100%;
        height: auto;
        padding-top: percentage(75 / 100);
        background-size: cover;
        background-position: center;
        backface-visibility: hidden;
        pointer-events: none;
      }
    }

    &__copy {
      position: relative;
      padding: 30px;
      background-color: $color--body-lighten;
      backface-visibility: hidden;
    }

    .sub-head-2 {
      display: block;

      * {
        display: inline-block;
        color: inherit;
      }
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 12px;

      a:not(:hover) {
        color: inherit;
      }
    }

    &__desc {
      font-size: 14px;
      color: $color--body-alt;
    }

    &__link {
      margin: 36px 0 0;

      a {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: .2em;
        text-transform: uppercase;

        &:not(:hover) {
          color: inherit;
        }
      }
    }

    .carousel__dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: 0;
      transform: translateX(-50%);
      // color: $color--body-lighten;
    }
  }

  &__box {
    position: relative;
    text-align: center;
    background-color: $color--tertiary;
    box-shadow: 0px 3px 24px 0px rgba($color--body, .25);
    backface-visibility: hidden;
    overflow: hidden;

    &__background {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background-size: cover;
      background-position: center;
      backface-visibility: hidden;
      pointer-events: none;
      z-index: 0;
    }

    &__table {
      position: relative;
      display: table;
      width: 100%;
      height: inherit;
      min-height: 520px;
      padding: 10.47%;
      z-index: 1;
    }

    &__cell {
      display: table-cell;
      vertical-align: middle;
      color: $color--body-lighten;
    }

    &__badge {
      display: block;
      position: relative;
      width: 33px;
      height: 33px;
      margin: 0 auto 36px;
      border-radius: 33px;
      color: $color--body;
      background-color: $color--tertiary;

      .fa {
        position: absolute;
        font-size: 12px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    .sub-head-2 {
      display: block;
      color: inherit;
      opacity: .8;

      * {
        display: inline-block;
        color: inherit;
      }
    }

    &__title {
      font-size: 22px;
      line-height: 33px;
      margin: 0;

      a:not(:hover) {
        color: inherit;
      }
    }

    .video-popup {
      margin-top: 18px;
    }
  }
}
