/* Instafeed
   ========================================================================== */

.instagram-feed {
  display: flex;
  overflow-x: auto;

  &__item {
    flex: 1;
    width: 320px;
    height: auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}
