/*! mediabox v1.1.2 | (c) 2016 Pedro Rogerio | https://github.com/pinceladasdaweb/mediabox */
.mediabox {

  &-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: rgba($color--body, .8);
    top: 0;
    left: 0;
    z-index: 999;
    animation-duration: 0.5s;
    animation-name: mediabox;
  }

  &-content {
    display: block;
    position: relative;
    max-width: 920px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    &:before {
      content: '';
      display: block;
      padding-top: percentage(9 / 16);
    }

    & iframe {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      top: 0;
      left: 0;
      margin: 0;
    }
  }

  &-hide {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: mediaboxhide;
  }

  &-close {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes mediabox {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

@keyframes mediaboxhide {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}
