/* Portfolio
   ========================================================================== */
// single portfolio
.single-portfolio {
  &__meta {
    margin-bottom: 60px;
    &__category {
      span {
        display: block;
      }
    }

    &__detail {
      span {
        display: block;
      }
    }
  }
}

// portfolio images
.portfolio--images {
  .poster {
    &:not(:last-child) {
      margin-bottom: 84px;
    }
  }
}

// portfolio index
.portfolio-index {
  &__item {
    $namespace: &;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 168px;
    }

    &__copy {
      &__header {
        margin-top: 24px;
        @media (min-width: $break-point--lg) {
          margin-top: 144px;
          padding-left: 48px;
        }
      }

      &__title {
        a {
          color: inherit;
        }
      }
    }

    @media (min-width: $break-point--lg) {
      &:nth-child(even) {
        #{$namespace}__image {
          order: 2;
        }

        #{$namespace}__copy {
          order: 1;
          &__header {
            @media (min-width: $break-point--lg) {
              padding-right: 48px;
              padding-left: 0;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

// portfolio show case
.portfolio-showcase {
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 168px;
    }

    &__copy {
      @media (min-width: $break-point--lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__link {
          position: absolute;
          bottom: 48px;
          right: 0;
        }

        &__title {
          position: absolute;
          top: 72px;
          left: 0;
        }
      }

      &__title {
        a {
          color: inherit;
        }
      }
    }
  }
}
