/* Media query
   ========================================================================== */

@media (min-width: $break-point--sm) {
  .site-branding {
    min-width: 200px;
    img {
      max-width: 150%;
    }
  }
}

@media (min-width: $break-point--md) {
}

@media (min-width: $break-point--lg) {
}

@media (min-width: $break-point--xl) {
}
