// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 12px;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
  }

  &-item.in-view__child {
    transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
    transform: scale(1.2);
    opacity: 0;
    will-change: opacity, transform;

    &.in-view__child--in {
      opacity: 1;
      transform: none;
    }
  }

  & &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 0.5s;
    opacity: 0;
    will-change: opacity;
    z-index: 2;
  }

  &:hover &__play {
    opacity: 1;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transition: transform 0.5s;
      transform-origin: top center;
      background-color: $color--tertiary;
      will-change: transform;
    }

    &.in-view--in:after {
      transform: none;
    }
  }
}

.embed-responsive-21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}
