/* Side navigation
   ========================================================================== */

.site-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;

  will-change: opacity;

  .side-menu & {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba($color--body, 0.4);
    transition: opacity 0.3s ease-out;
    cursor: default;
    will-change: opacity;

    .side-menu--display & {
      opacity: 1;
    }

    .side-menu--panning & {
      transition: none;
    }
  }

  &__elements {
    position: absolute;
    width: 350px;
    min-width: 300px;
    max-width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $color--body-lighten;
    box-shadow: 8px 0 24px rgba($color--body, 0.24);
    transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    transform: translateX(-110%);
    backface-visibility: hidden;
    overflow: auto;

    will-change: transform;

    .side-menu--display & {
      transform: none;
    }

    .side-menu--panning & {
      transition: none;
    }
  }

  &__branding {
    padding: 24px;
    border-bottom: solid 1px $color--tertiary;
  }

  &__nav {
    padding-top: 48px;
    padding-bottom: 48px;

    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a:not(.btn) {
      display: block;
      position: relative;
      padding: 12px 24px 12px 48px;
      font-weight: 700;

      &,
      &:hover {
        color: inherit;
      }
    }

    ul.sub-menu {
      margin-left: 12px;
      margin-bottom: 12px;
      a {
        font-size: 14px;
        color: $color--body-alt;
        padding-top: 6px;
        padding-bottom: 6px;
      }

      ul.sub-menu {
        margin-top: 12px;
        margin-left: 48px;
        border-left: 2px solid $color--tertiary;

        a {
          padding-left: 22px;
        }
      }
    }
  }

  &__cat {
    padding: 24px;
    border-top: solid 1px $color--tertiary;
  }
}
