/* Widgets
   ========================================================================== */

.widget {
  margin-bottom: 24px;

  &-title {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.widget_socials {
  .site-branding img {
    width: 75%;
    height: auto;
    margin-bottom: 12px;
  }
  &__list {
    margin-bottom: 24px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__item {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-right: 17px;
    margin-top: 4px;
  }
}
