@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css');

.bg-texture {
  background: transparent
    radial-gradient(
      circle farthest-side at right bottom,
      #0000cc 5%,
      #0000ff 25%,
      #0000ff 80%,
      #5d00ff 98%
    )
    repeat scroll 0% 0%;
  &-collage {
    background: #0000ff;
    &weg {
      background: linear-gradient(-45deg, #0000ff 33%, transparent 0%),
        linear-gradient(-45deg, #0044ff 67%, transparent 33%),
        linear-gradient(-45deg, #0000ff 100%, transparent 67%);
    }
  }
}

.grey-dark {
  color: $grey-dark !important;
}

@import 'components/accordion';
@import 'components/header';
@import 'components/footer';

@import 'master-teaser';
@import 'intro';
@import 'stats-ribbon';
@import 'talks';
@import 'impressions';
@import 'newsletter';
