#section-talks {
  .image {
    overflow: hidden;
  }
  .small {
    font-size: $size-7;
    max-height: 10rem;
    overflow: hidden;
  }

  .accordion-header {
    padding: 4rem $size-4;
    img.trophy {
      max-height: 1.2rem;
    }
    .subtitle {
      transition: font-size ease-in-out 0.3s;
      .speaker {
        display: block;
        font-size: $size-6;
        @include from($desktop) {
          margin-right: $size-7;
        }
        .speaker-name {
          margin-right: 0.2rem;
        }
        .speaker-company {
          @include until($desktop) {
            display: none;
          }
          color: $grey-light;
        }
      }
    }
  }
  .accordion.is-active {
    .accordion-header {
      background-color: white;
      .subtitle {
        font-size: $size-4;
        color: $grey-darker;
        .speaker {
          display: none;
        }
      }
    }
  }
  .accordion-content {
    blockquote,
    .speaker {
      margin: $size-3 0;
    }
    .speakers {
      text-align: center;
      a:not(.button) {
        display: inherit;
        color: $link;
      }
      figure {
        display: inline-block;
        img {
          border-radius: 100%;
        }
      }
    }
    blockquote {
      font-size: $size-5;
      font-weight: 500;
      padding: 0;
      border: 0;
      font-style: italic;
    }
  }
}
