@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$dark-blue: #00087A;
$blue: #0000FF;
$cyan: #00CCFF;
$salmon: #ff555b;

$primary: $blue;
$secondary: $salmon;
$danger: $salmon;
$dark: $dark-blue;
$link: $salmon;

$accordion-content-border: none;
$accordion-header-radius: 0px;
$accordion-content-radius: 0px;

$navbar-height: 5rem;
$navbar-background-color: $primary;
$navbar-item-color: rgba(255,255,255,.8);
$navbar-item-hover-color: rgba(255,255,255,1);
$navbar-item-hover-background-color: transparent;
$title-weight: 500;
@import "~bulma/sass/utilities/derived-variables";

.site-2018
    @import "~bulma";
    @import "~bulma-accordion/src/sass/index.sass";
    @import "~bulma-checkradio/src/sass/index.sass";
    @import "~react-image-lightbox/style.css";
    @import "./custom";

$body-color: $text !default
$body-weight: $weight-normal !default
$body-line-height: 1.5 !default
$body-family: $family-primary !default

body.site-2018
    color: $body-color
    
    font-weight: $body-weight
    line-height: $body-line-height
    
    font-family: "Rubik", sans-serif 
    h1,h2,h3,h4,h5
        font-family: "Rubik", sans-serif //pixudio overrides on the 2019 side :( 

    font-size: 18px 
    margin: 0
    padding: 0

    .ril__image
        max-width: none;
    .ril__navButtons
        margin: auto;

    .navbar
        padding: 0
        .navbar-end
            display: flex;

    .navbar-item
        color: rgba(255, 255, 255, 0.8) !important
