// Colors

//
$color--body: #222 !default;
$color--body-alt: #8d929c !default;
$color--body-lighten: #fff !default;
$color--body-background: #fff !default;

$color--primary: #011eff !default; // high contrast with lighter colors
$color--secondary: #ff00bf !default; // high contrast with lighter colors
$color--tertiary: #eff0f1 !default; // lighter color, high contrast with darker colors

$color--link: #011eff !default;
$color--link-hover: #ff00bf !default;

$color--code: #abb2bf !default;
$color--code-background: #434851 !default;
