.accordions .accordion {
    .accordion-header {
        background-color: $dark;
        padding: $size-4 0;
        font-size: $size-6;
        button.toggle {
            background-color: transparent;
            &::before {
                font-size: $size-4; 
                font-family: "Font Awesome 5 Free";
                content: "\f107";
            }
        }
        & + .accordion-body {
            transition: max-height 0.4s $easing;
        }
    }
    &.is-active {
        .accordion-body {
            max-height: 200em;
        }
        .accordion-header button.toggle {
            background-color: white;
            &::before {
                color: $dark;
                content: "\f106";
            }
        }
    }


}