footer.footer, footer.final-footer {
    background: $primary; 
    color: $white;
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
}

footer.footer {
    a.txb-logo img {
        transition: all .25s ease-in-out;
        width: 250px;
        &:hover {
            width: 275px;
        }
    }
}

footer.final-footer {
    background-color: $dark;
    padding: $size-4;
}

footer.love-footer {
    background-color: black;
    color: $grey-dark;
    padding: $size-7;
    font-size: 0.8rem;
}