nav.navbar {
  //min-height: 4rem;
  font-weight: 500;
  @include from($tablet) {
    .navbar-menu .navbar-end  {
      margin-right: 20rem;
    }
  }

  &.is-transparent {
    background: none;
  }

  .navbar-burger {
    color: white;
    span {
      height: 2px;
    }
  }
  .navbar-item,
  .navbar-link {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.logo_comp {
  //margin-left: -1.5rem;
  //margin-top: 0.5rem;
  z-index: 2;
  img {
    height: 3rem;
    max-height: none;
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
  }
}
