@import '../../2020/scss/modules/colors';

.el {
  margin-bottom: 24px;
  color: $color--primary;
  text-align: center;

}
.label {
  font-size: 14px;
  border: 1px solid $color--primary;
  border-top: none;
  background-color: white;
}
.count {
  border: 1px solid $color--primary;
  border-bottom: none;
  position: relative;
  font-size: 7vw;
  line-height: 1em;
  background-color: white;
}
